.uploadResumePage {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    position: relative;
}

.uploadResumeContainer {
    width: 100%;
    max-width: 700px;
    margin: 20px 0px 100px 0px;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;
}

.resumeTitle {
    font-weight: 700;
}

.uploadResumeDiv {
    padding: 30px;
}

.resumeSubDsc {
    font-weight: 700;
}

.resumeDsc {
    font-size: 16px;
    font-weight: 500;
}

.uploadResumeButtonDiv {
    width: 100%;
    display: flex;
    justify-content: end;
}

.uploadResumeButton {
    gap: 10px;
    margin: 10px 0 10px;
    background-color: #003580;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
}

.uploadResumeButton:hover {
    background-color: #0071c2;
    color: #ffffff;
}

.buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.or {
    color: gray;
}

.back {
    color: #003580;
    cursor: pointer;
    font-weight: 600;
}

.browseArea {
    display: flex;
    justify-content: space-between;
}

.browse {
    margin-top: 10px;
    background-color: rgb(215, 230, 244);
    height: 150px;
    width: 48%;
    border-radius: 10px;
    position: relative;
}

.browseInput {
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    height: 150px;
    width: 48%;
    border-radius: 10px;
    position: relative;
    padding: 10px;
}

.browseLink {
    color: #003580;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
}

.browseIcon {
    color: #a6a6a6;
    font-weight: 600;
    cursor: pointer;
    font-size: 32px;
}

.uploadIconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    flex-direction: column;
}